# Dependencies
node_modules/
npm-debug.log*

# Environment
.env
.env.local

# Build output
dist/

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/
!prisma/migrations/**/migration.sql
/src/generated/prisma

# Coverage
coverage/